/* Main-Settings */
/* header */
/* main */
/* video */
/* footer */

/* Main-Settings */
html,body {
    color: #555;
    font-size: 20px;
    font-family: "Century Gothic", 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

.nav-item {
    font-size: 25px;
}

main {
    position: absolute;
}


/* header */
header {
    width: 100%;
    color: white;   
    z-index: 10;
}

header ul {
    list-style-type: none;
    text-align: center;
    letter-spacing: 0.2rem;
}

header ul li {
    display: inline-block;
}

header a {
    text-decoration: none;
}

header ul li a { 
    display: block;
    color:white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
}

/* nav */
.nav-img {
    position: absolute;
    margin-left: -700px;
}


/* main */
/* video */
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
}

video {
    width: 100%;
}

/* another devices */
@media (max-width: 768px) {
    .nav-img {
        width: 130%;
        margin-left: -500px;
    }

    video {
        margin-top: 184px;
        width: 100
    }
}

@media (max-width: 425px) {
    .nav-img {
        width: 236%;
        margin-left: -500px;
    }

    video {
        margin-top: 184px;
        width: 77%;
    }
}


@media (max-width: 375px) {
    .nav-img {
        width: 237%;
        margin-left: -381px;
    }

    video {
        margin-top: 184px;
        width: 77%;
    }
}
